body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px;
}
.header {
  max-width: 94em;
  width: 100%;
  min-height: 8em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
.nav a {
  text-decoration: none;
  margin: 32px;
  font-size: 20px;
  font-weight: 500;
  color: #282828;
}
.nav a:hover {
  color: #0d50ff;
}
.active {
  color: #282828;
}
.nav {
  padding-top: 54px;
}
.cart {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-top: 30px;
  margin-right: 80px;
}

.icon {
  font-size: 28px;
}

.badge {
  position: absolute;

  min-width: 18px;
  height: 18px;
  padding: 0 3px;
  margin-right: 30px;
  margin-bottom: 10px;

  border-radius: 100%;
  background: #0b5fff;
  color: #fff;

  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

  display: flex;
  justify-content: center;
}

.logo {
  margin: 10px 30px;
}
